:root {
    font-size: calc(0.5em + 1vw);

    --logo-height: 50px;  
    --bias-height: 200px;
    --media-type-height: 270px;
        
    --left-width: 220px;
    --center-width: 180px; 
}

body {
    font-family: "filson-pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.container {
    display: grid;
    grid-template-areas:
        "title               title                      filters      "       
        "chart-mediaOutlet   chart-biasRating           chart-list        "
        "chart-mediaOutlet   chart-mediaOutletType      chart-list        ";
    grid-template-columns: var(--left-width) var(--center-width) 1fr;
    grid-template-rows: var(--logo-height) var(--bias-height)  1fr;
    gap: 10px 20px;
    margin: 3px;
    height: 100vh;  /* 100vh is not enough for some reason */
    width: calc(100vw - 1.1rem);
    overflow: hidden;
}

#title {
    grid-area: title;
    font-size: 30px;
    font-weight: 600; 
    margin-top: 5px;

    fill: rgb(6, 15, 240); 
}

#filters {
    grid-area: filters;
}

#chart-mediaOutletType {
    grid-area: chart-mediaOutletType;
}

#chart-biasRating {
    grid-area: chart-biasRating;
}

#chart-mediaOutlet {
    grid-area: chart-mediaOutlet;
    overflow-y: auto;
}

#chart-list {
    grid-area: chart-list;
    overflow: auto;
}

#chart-topic, #chart-mediaOutlet, #chart-mediaOutletType, #chart-biasRating {
    font-weight: 500;
    font-size: 16px;
}

